:root {
 --primary-color:#191f28;
 --secondary-color:#212935;
 --tertiary-color:#2d3949;
}

body{
	color: white;
	background-color: var(--secondary-color);
}

img{
	width: 60%;
}

a{
	color:white;
}

a:hover{
	color:white;
	text-decoration: none;
}

#topArrow{
	border: solid white;
  	border-width: 0 6px 6px 0;
  	display: inline-block;
  	padding: 6px;
  	transform: rotate(-135deg);
  	margin-top: 10px;
}

#topArrow:hover{
	border-color: black;
}

#mainImage{
	width: 80%;
}

#game{
	width:100%; 
	border: 0;
	margin-bottom: 20px;
}

#codeArea{
	height: 100%;
	width: 100%;
	background-color: var(--tertiary-color);
	color: white;
	resize: none;
}

#output{
	height: 100%;
	width: 100%;
	background-color: var(--secondary-color);
	color: white;
	resize: none;
}

[class*=row]{
	margin: 0;
}

[class*=nav]{
	color: white;
	border-right: solid;
	border-right-width: 20px;
	border-right-color: var(--primary-color);
}

[class*=nav]:hover{
	color: white;
	text-decoration: underline;
}

[class*=profile]{
	width: 50%;
}

[class*=primary-color]{
	background-color: var(--primary-color);
}

[class*=secondary-color]{
	background-color: var(--secondary-color);
}

[class*=tertiary-color]{
	background-color: var(--tertiary-color);
}

[class*=click]:hover{
	background-color: var(--tertiary-color);
	cursor: pointer;
}

[class*=menu]{
	border: solid;
	border-left-width: 20px;
	border-color: var(--primary-color);
}

[class*=centerText]{
	text-align: center;
}

[class*=cert]{
	color: white;
} 

[class*=cert] img{
	width:80%;
} 

[class*=cert]:hover *{
	border-color: var(--tertiary-color);
	text-decoration: none;
	color: white;
}

[class*=skill]{
	color: white;
}

[class*=skill]:hover{
	color: white;
	text-decoration: none;
}

[class*=skill] img{
	width: 35%;
	
	border:solid;
	border-width: 10px 0 10px 0;
	border-color: var(--primary-color);
}

[class*=skill]:hover img{
	color: white;
	text-decoration: none;
	border-color: var(--tertiary-color);
}

[class*=summary]{
	padding-bottom: 10px;
}

[class*=weblink]{
	background-color: var(--tertiary-color);
	border:	solid;
	border-color: var(--tertiary-color);
	padding: 0 4px 0 4px;
	margin-left: 6px;
}

[class*=weblink]:hover{
	color: black;
	border-color: var(--primary-color);
	cursor: pointer;
}

[class*=primary-border]{
	border: solid;
	border-width: 20px;
	border-color: var(--primary-color);
}

[class*=mail]{
	background-color: var(--tertiary-color);
	border:solid;
	border-width: 5px;
	border-color: var(--primary-color);
	color: black;
	padding: 7px;
}

[class*=mail]:hover{
	background-color: var(--primary-color);
	border-color: var(--tertiary-color);
	color: white;
	text-decoration: none;
}

[class*=thumbnail] img{
	width: 75%;
}

[class*=selectionImage]:hover{
	cursor: pointer;
}

[class*=run]{
	padding: 0 10px 0 10px;
}

[class*=button]{
	background-color: var(--primary-color);
	border:solid;
	border-width: 5px;
	border-color: var(--secondary-color);
	color: white;
	padding: 7px;
	margin-right: 10px;
	margin-bottom: 10px;
}

[class*=button]:hover{
	background-color: var(--secondary-color);
	border-color: var(--primary-color);
	color: white;
	text-decoration: none;
}

@media (min-width: 1600px) {
    .container{
        max-width: 90%;
}
