:root {
 --primary-color:#191f28;
 --secondary-color:#212935;
 --tertiary-color:#2d3949;
}

body{
	color: white;
	background-color: var(--secondary-color);

}

img{
	width: 60%;
}

a{
	color:white;
}

a:hover{
	color:white;
	text-decoration: none;
}

#topArrow{
	border: solid white;
  	border-width: 0 6px 6px 0;
  	display: inline-block;
  	padding: 6px;
  	transform: rotate(-135deg);
  	margin-top: 10px;
}

#topArrow:hover{
	border-color: black;
}

#mainImage{
	width: 80%;
}

[class*=fullwidth]{
	width: 100%;
	margin: 0;
}

[class*=nav] a{
	color: white;
}

[class*=nav] a:hover{
	color: white;
	text-decoration: underline;
}

[class*=nav] img{
	cursor: pointer;
	width: 50%;
}

[class*=profile]{
	width: 40%;
	border-radius: 10%;
}

[class*=primary-color]{
	background-color: var(--primary-color);
}

[class*=secondary-color]{
	background-color: var(--secondary-color);
}

[class*=tertiary-color]{
	background-color: var(--tertiary-color);
}

[class*=click]:hover{
	background-color: var(--tertiary-color);
	cursor: pointer;
}

[class*=menu]{
	border: solid;
	border-left-width: 20px;
	border-color: var(--primary-color);
}

[class*=centerText]{
	text-align: center;
}

[class*=cert]{
	color: white;
}

[class*=cert]:hover{
	border-color: var(--tertiary-color);
	text-decoration: none;
	color: white;
}

[class*=skill]{
	color: white;
}

[class*=skill]:hover{
	color: white;
	text-decoration: none;
}

[class*=skill] img{
	width: 35%;
}

[class*=weblink]{
	background-color: var(--primary-color);
	border:	solid;
	border-color: var(--tertiary-color);
	padding: 0 4px 0 4px;
	margin-left: 6px;
}

[class*=weblink]:hover{
	color: black;
	background-color: var(--tertiary-color);
	border-color: var(--primary-color);
	cursor: pointer;
}

[class*=primary-border]{
	border: solid;
	border-width: 20px;
	border-color: var(--primary-color);
}

[class*=mail]{
	background-color: var(--tertiary-color);
	border:solid;
	border-width: 5px;
	border-color: var(--primary-color);
	color: black;
	padding: 7px;
}

[class*=mail]:hover{
	background-color: var(--primary-color);
	border-color: var(--tertiary-color);
	color: white;
	text-decoration: none;
}

[class*=selectionImage]{
	width: 100%;
}

[class*=selectionImage]:hover{
	cursor: pointer;
}

@media (min-width: 1600px) {
    .container{
        max-width: 90%;
}