.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: auto;
    max-width: 40rem;

    & > * {
        aspect-ratio: 2 / 1.3;
        font-weight: bold;
        position: relative;
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 600px) {
	.grid {   
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
	.grid * {   
        font-size: small;
    }
}